/.vscode
/a.py
/bajup4.py
/BCA.jpeg
/contoh
/inputoutput.py
/installpandas.py
/latihan1.py
/Latihan1_P5.py
/latihan_1_bitwise.py
/latihan_1_identitas.py
/latihan_1_keanggotaan.py
/latihan_1_logika.py
/latihan_1_penugasan.py
/latihan_2.py
/latsol_P5.py
/latstudikasus_19231369_P4.py
/mergep10tes
/projectakhir.py
/ProjectPythonBus.py
/studikasus_P4.py
/studikasus_P6.py
/testi.py
/Tugas1_19231369_P4.py
/Tugasayam2_19231369_P5.py
/TugasP10_19231369.py
/tugassakhir1.py
/uas kating.py